<% if @comment.errors.any? %>
  <h4>
    <%= pluralize(@comment.errors.count, "error") %> prohibited
    this comment from being edited:
  </h4>
  <ul>
    <% @comment.errors.full_messages.each do |msg| %>
      <li><%= msg %></li>
    <% end %>
  </ul>
<% end %>

<%= form_for(@comment, url: { action: "update" }) do |form| %>
    <%= form.label :comment %><br>
    <%= form.text_area :body %>
  </p>
  <p>
    <%= form.label :username %><br>
    <%= form.text_field :author %>
  </p>
  <p>
    <%= form.submit %>
  </p>
<% end %>