<%= form_for(@comment, url: { action: "update" }) do |form| %>
    <%= form.label :comment %><br>
    <%= form.text_area :body %>
  </p>
  <p>
    <%= form.label :username %><br>
    <%= form.text_field :author %>
  </p>
  <p>
    <%= form.submit %>
  </p>
<% end %>