<!-- View for showing a single `Post` -->
<div class="post">
  <strong>
  	<%= @post.title %>
  </strong>

  <p class="post-body">
  	<%= @post.body %>
  </p>
  <%= link_to 'Delete Post', post_path(@post),
              method: :delete,
              data: { confirm: 'Are you sure you want to delete this post? Once you delete it, it cannot be restored.' } %>
</div>

<div class="comment">
  <p class="title">Comments</p>
  <% @post.comments.each do |comment| %>
    <p>
      <%= comment.body %>
      <span>- </span><%= comment.author %>
    </p>
    <%= link_to 'Edit', edit_post_comment_path(@post, comment), class: 'comment-link' %>
    <%= link_to 'Delete', post_comment_path(@post, comment), class: 'comment-link', 
  	            method: :delete,
  	            data: { confirm: 'Are you sure you want to delete this comment? Once you delete it, it cannot be restored.' } %>
    
  <% end %>
</div>
<h4>Add Comment</h4>



<%= form_with(model: [ @post, @post.comments.build ], local: true) do |form| %>
  <p>
    <%= form.label :comment %><br>
    <%= form.text_area :body %>
  </p>
  <p>
    <%= form.label :username %><br>
    <%= form.text_field :author %>
  </p>
  <p>
    <%= form.submit %>
  </p>
<% end %>


